{% extends "base.html.twig" %} {% block body %}

<div class="container">
  <h2>CRÉER LE BIEN</h2>
  {{ include("admin/_form.html.twig", { form: form, button: "Créer" }) }}
</div>

{% endblock %}
